* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Changa', sans-serif;
}

nav {
    background-color: darkgray;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100000;
}

nav span {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 48px;
}

nav ul {
    float: right;
    list-style: none;
}

nav h4, nav ul {
    display: inline-block;
    margin-top: 15px;
}

nav li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

nav li a {
    text-decoration: none;
}

header {
    background: url('./hero-image-cropped.jpg') no-repeat top center;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 781px;
    margin-top: 47px;
}

.slogan {
    width: 100%;
    padding-top: 500px;
    font-size: 42px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.hero {
    background-image: url('./hero-image.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 520px;
}

section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 32px;
}

section h3 {
    margin-top: 3%;
    margin-bottom: 2%;
}

.bio {
    background-color: #FFFFFF;
}

.story {
    text-align: left;
    display: inline-block;
    font-size: 24px;
    width: 50%;
}

.bio-img {
    display: inline-block;
    height: 400px;
}

.skills {
    background-color: #F4F3F5;
}

.skills-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background: white;
}

.skills-container img {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.json-logo {
    height: 100px;
}

.postman-logo {
    height: 100px;
}

.robo-logo {
    height: 100px;
}

.redux-logo {
    height: 100px;
}

.projects {
    background-color: #FFFFFF;
}

.contact {
    background-color: #F4F3F5;
}

.project-title {
    margin-right: 49%;
}

.homebrew-title {
    margin-right: 41%;
}

.project-section {
    padding-top: 20px;
}

.project-background {
    background-color: azure;
    padding-bottom: 5%;
}

.project-container {
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    border: 1px solid black;
    background-color: #EEE;
    border-radius: 5px;
}

.project-container img {
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-container a {
    
}

.desc-section {
    display: inline;
    position: relative;
    height: 50%;
    margin-top: 10px;
}

.project-skills {
    display: inline-block;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

.project-skills li {
    display: inline-block;
    font-size: 22px;
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        
}

.project-container a {
    text-decoration: none;
    background-color: #AAA;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.brewformer-buttons {
    margin-bottom: 5%;
}

.homebrew-buttons {
    margin-bottom: 5%;
}

.inventation-buttons {
    margin-bottom: 5%;
}

/*
.inventation {
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    background-color: #EEE;
    border-radius: 5px;
}

.inventation img {
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homebrew {
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    background-color: #EEE;
    border-radius: 5px;
}

.homebrew img {
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/

.desc {
    display: inline-block;;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.contact {
}

.contact-info {
    font-size: 68px;
    display: inline-block;
    padding-left: 65px;
    padding-right: 85px;
    padding-top: 20px;
}

footer {
    text-align: center;
    font-size: 24px;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    
    header {
        height: 368px;
        margin-top: 145px;
    }
    
    section {
        padding-top: 129px;
    }
    
    .project-container {
        display: block;
    }
    
    .project-container img {
        float: none;
        width: 90%;
    }
    
    .homebrew-title {
        margin-right: 0%;
    }
    
    .project-title {
        margin-right: 0%;
    }
    
    .slogan {
        padding-top: 230px;
        font-size: 28px;
    }
    
    .story {
        text-align: center;
        font-size: 70%;
    }
    
    .bio-img {
        height: 261px;
    }
    
    .desc {
        font-size: 70%;
    }
    
    .project-skills li {
        font-size: 70%;
    }
    
    footer {
        font-size: 70%;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    header {
        height: 468px;
    }
    
    .project-container {
        display: block;
    }
    
    .project-container img {
        float: none;
        width: 90%;
    }
    
    .homebrew-title {
        margin-right: 0%;
    }
    
    .project-title {
        margin-right: 0%;
    }
    
    .section h3 {
        margin-top: 10%;
    }
    
    .slogan {
        padding-top: 300px;
    }
    
    nav li {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .story {
        text-align: center;
    }
    
}


/*ipad potrait*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header {
       height: 500px;
       margin-top: 77px; 
    }
    
    .project-container {
        display: block;
    }
    
    .project-container img {
        float: none;
        width: 90%;
    }
    
    .homebrew-title {
        margin-right: 0%;
    }
    
    .project-title {
        margin-right: 0%;
    }
    
    .bio-title {
        margin-left: 4%;
    }
    
    .slogan {
        padding-top: 312px;
    }
    
    .bio-img {
        display: block;
        height: 287px;
        margin-left: 33%;
    }
    
    .story {
        text-align: center;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) and (max-width: 1419px) {
    
    header {
        height: 668px;
    }
    
    .project-container {
        width: 90%;
    }

}

@media only screen and (min-width: 1420px) {
    .project-container {
        width: 60%;
        display: flex;
    }
}